footer.fixed-bottom.text-secondary.bg-light
    .row.border-top.border-bottom
        .col-12.mb-2.mt-2
            span.ml-3 Poland
    .row
        .col-6.mb-2.mt-2
            span.ml-3 Advertising
            span.ml-3 Business
            span.ml-3 About
        .col-6.text-right.mb-2.mt-2
            span.mr-3 Privacy
            span.mr-3 Terms
            span.mr-3 About