nav
    ul.nav.justify-content-end.mt-3
        li.nav-item
            a.nav-link Gmail
        li.nav-item
            a.nav-link Images
        li.nav-item.mr-4.mt-2.ml-3
            i.fas.fa-th
        button.btn.btn-primary.btn-sm.mr-3 Sign in 